In [1]:
import pandas as pd

<b>Data Import and Cleaning:</b>

Import the dataset using Pandas.<br>
Identify missing values and handle them appropriately.<br>
Use NumPy to convert relevant columns to numerical types if necessary.

In [6]:
data = pd.read_csv('global_power_plant_database.csv',low_memory=False)
df = pd.DataFrame(data)

In [7]:
df.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [8]:
df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
count,34936.000000,34936.000000,34936.000000,17447.000000,14887.000000,6417.000000,7226.000000,8203.000000,9144.000000,9500.000000,9637.000000,9659.000000,16120.000000,16503.000000,17050.000000,17570.000000,33138.000000
mean,163.355148,32.816637,-6.972803,1997.414823,2018.218849,592.696107,656.863891,762.368840,693.149763,661.834161,517.320785,423.922436,239.112221,242.431122,235.866067,235.695265,716.443378
std,489.636072,22.638603,78.405850,23.397835,1.606428,2174.833482,2231.464288,2533.459828,2404.516759,2369.296957,1975.302686,1698.506485,1191.258172,1285.798297,1267.005223,1259.559841,2484.361200
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,-982.622000,-780.339000,1.120000,0.870000,0.440000,0.300000,0.000000
25%,4.900000,29.256475,-77.641550,1988.000000,2017.000000,1.947000,2.260000,2.664500,2.729000,2.467000,2.242000,2.751500,8.620000,8.680000,8.380000,8.322500,8.180000
50%,16.745000,39.727750,-2.127100,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,27.555000,37.590000
75%,75.344250,46.263125,49.502675,2014.000000,2019.000000,199.706000,226.322250,285.862583,249.866750,214.505150,151.117000,122.781498,106.805000,106.980000,103.120000,107.237500,229.565000
max,22500.000000,71.292000,179.388700,2020.000000,2019.000000,50834.000000,32320.917000,37433.607000,32377.477000,36448.643000,35136.000000,31920.368000,48675.060000,58470.770000,57113.350000,60859.730000,82810.770000

In [12]:
df.isnull().sum()/35325*100

country                            0.000000
country_long                       0.000000
name                               0.000000
gppd_idnr                          0.000000
capacity_mw                        0.000000
latitude                           0.000000
longitude                          0.000000
primary_fuel                       0.000000
other_fuel1                       93.395612
other_fuel2                       98.117481
other_fuel3                       98.638358
commissioning_year                49.508846
owner                             39.824487
source                             0.042463
url                                0.050955
geolocation_source                 1.186129
wepp_id                           52.942675
year_of_capacity_data             56.755839
generation_gwh_2013               80.733192
generation_gwh_2014               78.443029
generation_gwh_2015               75.677282
generation_gwh_2016               73.013447
generation_gwh_2017               72.005662
generation_gwh_2018               71.617834
generation_gwh_2019               71.555556
generation_data_source            66.627035
estimated_generation_gwh_2013     53.265393
estimated_generation_gwh_2014     52.181175
estimated_generation_gwh_2015     50.632696
estimated_generation_gwh_2016     49.160651
estimated_generation_gwh_2017      5.089880
estimated_generation_note_2013     0.000000
estimated_generation_note_2014     0.000000
estimated_generation_note_2015     0.000000
estimated_generation_note_2016     0.000000
estimated_generation_note_2017     0.000000
dtype: float64

In [14]:
df2 = df[['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw', 'latitude', 'longitude', 'primary_fuel', 'source', 'url', 'geolocation_source', 'estimated_generation_note_2013', 'estimated_generation_note_2014', 'estimated_generation_note_2015', 'estimated_generation_note_2016', 'estimated_generation_note_2017']]

<b>Exploratory Data Analysis:</b>

Utilize Pandas to summarize key statistics (mean, median, standard deviation) for numerical columns.<br>
Explore the distribution of power plants by country and fuel type.<br>

In [20]:
for col in df2.columns:
    if pd.api.types.is_numeric_dtype(df2[col]):
        print(f"Column: {col}")
        print(f"Mean: {df2[col].mean()}")
        print(f"Median: {df2[col].median()}")
        print(f"Standard deviation: {df2[col].std()}")
        print("\n")

Column: capacity_mw
Mean: 163.35514790637149
Median: 16.744999999999997
Standard deviation: 489.6360717012982


Column: latitude
Mean: 32.816636784405965
Median: 39.72775
Standard deviation: 22.638602589080133


Column: longitude
Mean: -6.972803283146259
Median: -2.1271
Standard deviation: 78.40585039539508

In [22]:
df2.groupby(['country', 'primary_fuel']).size().reset_index(name='Power plants')

    country primary_fuel  Power plants
0       AFG          Gas             1
1       AFG        Hydro             6
2       AFG        Solar             2
3       AGO          Gas             3
4       AGO        Hydro             5
..      ...          ...           ...
693     ZMB        Hydro             5
694     ZMB          Oil             7
695     ZMB        Solar             1
696     ZWE         Coal             1
697     ZWE        Hydro             1

[698 rows x 3 columns]

<b>Statistical Analysis:</b><br>
Perform a statistical analysis of power output by fuel type using NumPy’s statistical functions.<br>
Use hypothesis testing to determine if the mean power output differs significantly between different fuel types.

<b>Time Series Analysis: </b>

If the dataset includes time-related data (like year of establishment), use NumPy to analyze trends over time.

Explore how the mix of fuel types for power generation has evolved over the years.