In [17]:
import pandas as pd
import json

<b> Exercise 1

In [8]:
titanic = pd.read_excel('C:\\Users\\Lenovo\\Desktop\\Developers Institute\\Curso\\Data Understanding and pre-processing Intro\\Week 7\\Day 6\\titanic3.xls')

titanicDF = pd.DataFrame(titanic)
titanicDF.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

<b> Exercise 2

In [10]:
headers=['sepal length','sepal width','petal length','petal width','class']
irisData = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\Developers Institute\\Curso\\Data Understanding and pre-processing Intro\\Week 7\\Day 6\\iris.csv', names=headers)
irisDF = pd.DataFrame(irisData)
irisDF.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

<b> Exercise 3

In [25]:
sampleJSON = pd.read_json('C:\\Users\\Lenovo\\Desktop\\Developers Institute\\Curso\\Data Understanding and pre-processing Intro\\Week 7\\Day 6\\sampleJSON.json')

jsonDF = pd.DataFrame(sampleJSON)
print(jsonDF.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

<b> Exercise 4

<b> Exercise 5

In [27]:
from faker import Faker
import numpy as np

fake = Faker()

data = [(fake.name(), np.random.randint(18, 70), fake.address(), fake.email()) for _ in range(100)]
df = pd.DataFrame(data)
df.to_json('test.json', orient='records')